<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Tourist Travel Helper</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'recommendation_system/css/city_search_analytics_form.css' %}">
    <link rel="stylesheet" href="{% static 'recommendation_system/css/picture_background_and_map.css' %}">
    <link rel="stylesheet" href="{% static 'recommendation_system/css/radio_btns_and_hints.css' %}">
    <link rel="stylesheet" href="{% static 'recommendation_system/css/top_weeks_plot_week_search.css' %}">
</head>
<body>
<section class="cool-picture d-flex align-items-center justify-content-center">
    <div class="text-center p-5 rounded shadow" id="cool-picture-text">
        <h1 class="fw-bold mb-4">Tourist Travel Helper</h1>
        <h5>Выберите город и узнайте лучшее время для поездки</h5>
    </div>
</section>

<form method="post" id="city-search-form">
    <div class="d-flex flex-row align-items-center justify-content-between" id="analytics-configuration-div">
        <div id="analytics-configuration-city-search" class="p-5">
            <h2 class="text-center mb-4">Выберите город</h2>
            {% csrf_token %}
            <input type="text" id="city-input" class="text-center" placeholder="Начните вводить город"
                   autocomplete="off">
            <div id="city-results-div">
                <ul id="city-results"></ul>
            </div>

            <div id="selected-city-info" class="text-center mt-5 {% if not selected_city %}d-none{% endif %}">
                <h4 id="selected-city-name">
                    Вы выбрали город: {{ selected_city.name_ru }}
                </h4>
            </div>
        </div>

        <div id="form-hint-div"></div>

        <div id="chose-analytics-type">
            <h2 class="text-center mb-4">Выберите вариант:</h2>
            <div id="analytics-configuration-radio-btn" class="d-flex gap-5">
                <label class="radio-btn-label">
                    <input type="radio" id="analytics-best-periods" name="analytics-option" value="best_periods">
                    <div class="radio-btn-option-content">
                        <h4>Вывести лучшие даты</h4>
                        <p class="radio-btn-option-content-text">Подберём оптимальные периоды для поездки</p>
                    </div>
                </label>

                <label class="radio-btn-label">
                    <input type="radio" id="analytics-check-period" name="analytics-option" value="check_period">
                    <div class="radio-btn-option-content">
                        <h4>Проверить свою дату</h4>
                        <p class="radio-btn-option-content-text">Укажите даты и нажмите на кнопку!</p>
                        <div id="period-input-div" class="mt-3 d-flex flex-column d-none">
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-column">
                                    <label class="text-center">Начальная дата</label>
                                    <input type="date" name="period-time-form" id="period-input-start"
                                           class="period-input">
                                </div>
                                <p class="fs-6 mx-2">&ndash;</p>
                                <div class="d-flex flex-column">
                                    <label class="text-center">Конечная дата</label>
                                    <input type="date" name="period-time-form" id="period-input-end"
                                           class="period-input">
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="text-center mt-3">
                                    <button type="button" id="analyze-period-btn">Анализировать</button>
                                </div>
                                <div id="period-error-div" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</form>

<div id="weeks-info-div" class="d-none">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h3 class="text-center">Топ 5 лучших недель</h3>
        <ul id="top-weeks-list"></ul>
    </div>
</div>

<div id="chosen-periods-div" class="d-none">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h3 class="text-center">Оценка вашего периода:</h3>
        <p id="chosen-periods-score" class="mt-5 mb-5"></p>
    </div>
</div>

<div id="plot-div" class="d-none">
    <h3 class="text-center">График всех недель</h3>
    <div id="weekly-scores-plot"></div>
</div>


<div class="ratio ratio-16x9 mt-5 map-div border border-dark rounded-3">
    <iframe id="map-frame"
            src="https://www.google.com/maps?q={% if selected_city %}{{ selected_city.latitude }},{{ selected_city.longitude }}{% else %}56.8519,60.6122{% endif %}&z=10&output=embed"
            loading="lazy">
    </iframe>
</div>


<script type="module" src="{% static 'recommendation_system/js/city_search_and_main.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-3.3.1.min.js"></script>
</body>
</html>