<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Tourist Travel Helper</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'recommendation_system/css/city_search.css' %}">
</head>
<body>
<section class="cool-picture d-flex align-items-center justify-content-center">
    <div class="text-center p-5 rounded shadow" id="cool-picture-text">
        <h1 class="fw-bold mb-4">Tourist Travel Helper</h1>
        <h5>Выберите город и узнайте лучшее время для поездки</h5>
    </div>
</section>

<form method="post" id="city-search-form">
    <div class="d-flex flex-row align-items-center justify-content-between" id="analytics-configuration-div">
        <div id="analytics-configuration-city-search" class="p-5">
            <h2 class="text-center mb-4">Выберите город</h2>
            {% csrf_token %}
            <input type="text" id="city-input" class="text-center" placeholder="Начните вводить город"
                   autocomplete="off">
            <div id="city-results-div">
                <ul id="city-results"></ul>
            </div>

            <div id="selected-city-info" class="text-center mt-5 {% if not selected_city %}d-none{% endif %}">
                <h4 id="selected-city-name">
                    Вы выбрали город: {{ selected_city.name_ru }}
                </h4>
            </div>
        </div>

        <div id="form-hint-div"></div>

        <div id="chose-analytics-type">
            <h2 class="text-center mb-4">Выберите режим:</h2>
            <div id="analytics-configuration-radio-btn" class="d-flex gap-5">
                <label class="radio-btn-label">
                    <input type="radio" id="analytics-best-periods" name="analytics-option" value="best_periods">
                    <div class="radio-btn-option-content">
                        <h4>Вывести лучшие даты</h4>
                        <p>Подберём оптимальные периоды для поездки</p>
                    </div>
                </label>

                <label class="radio-btn-label">
                    <input type="radio" id="analytics-check-period" name="analytics-option" value="check_period">
                    <div class="radio-btn-option-content">
                        <h4>Проверить свою дату</h4>
                        <p>Проверим выбранный период поездки</p>
                    </div>
                </label>
            </div>
        </div>
    </div>
</form>


<div class="ratio ratio-16x9 mt-5 map-div">
    <iframe id="map-frame"
            src="https://www.google.com/maps?q={% if selected_city %}{{ selected_city.latitude }},{{ selected_city.longitude }}{% else %}56.8519,60.6122{% endif %}&z=10&output=embed"
            loading="lazy">
    </iframe>
</div>


<script src="{% static 'recommendation_system/js/city_auto_search.js' %}"></script>
</body>
</html>