body {
    background-color: rgb(236, 236, 236);
}

.cool-picture {
    position: relative;
    background-image: url('/static/recommendation_system/Images/backgroundImage.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cool-picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


#cool-picture-text {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
}


#city-search-form {
    max-width: 80vw;
    margin: 40px auto;
    border-radius: 16px;
}

#analytics-configuration-city-search{
    width: 50%;
}

#analytics-configuration-div{
    gap: 20px
}

#city-input {
    width: 100%;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid rgb(209, 213, 219);
}

#city-input:focus {
    border-color: rgb(42, 102, 231);
}

#city-results-div {
    position: relative;
}

#city-results {
    list-style: none;
    margin-top: 8px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.autocomplete-item {
    padding: 12px 16px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: rgb(241, 245, 249);;
}

.selected-city-info {
    max-width: 800px;
    background-color: white;
}

#map-frame{
    margin-top: 5vh
    box-sizing: border-box;
}

.map-div{
    margin-left: 8px
}

.radio-btn-label {
    cursor: pointer;
}

.radio-btn-label input {
    display: none;
}

.radio-btn-option-content{
    padding: 15px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
}

.radio-btn-option-content p {
    margin: 0;
    font-size: 18px;
    color: rgb(107, 114, 128);
}

.radio-btn-option-content h4 {
    font-size: 20px;
}


.radio-btn-label:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.radio-btn-label input:checked + .radio-btn-option-content {
    border-color: rgb(37, 99, 235);
    background-color: rgb(240, 246, 255);
}

#form-hint-div {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}